$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2 rem;
$text: 2.5rem;
$gradient: linearGradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex ($jutify, $align, $direction){
    display: flex;
    justify-content: $jutify;
    align-items: $align;
    flex-direction: $direction;
}

@import "global";
@import "intro";